* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body {
  background-color: #0b0b1a;
  color: #d1d1e0;
}

.whyus {
  text-align: center;
  padding: 4rem 8%;
}

.whyus h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.highlight {
  color: #C73293;
}

.subtitle {
  color: #aaa;
  margin-bottom: 3rem;
}

.grid {
  display: grid; 
  grid-template-columns: repeat(auto-fit,  minmax(350px, 1fr));
  gap: 2rem;
  
}

.card {
  border: 1px solid #C23893;
  padding: 2rem;
  text-align: center;
  
}

.icon {
  font-size: 2rem;
  color: #c153ff;
  margin-bottom: 1rem;
}

.card h3 {
  color: #fff;
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
}
.card p {
  color: #aaa;
  font-size: 0.9rem;
  line-height: 1.5;
}

footer {
  text-align: center;
  padding: 20px;
  background: #0a0b25;
  color: #888;
  font-size: 14px;
  border-top: 1px solid #1a1b3a;
}
